body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #f7f9fb;
    padding-left: 200px;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 150px;
    height: 100vh;
    background-color: #29acc8;
    color: #fff;
    padding-top: 60px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px 20px;
    cursor: pointer;
}

.sidebar ul li:hover {
    background: #238ca3;
}

.header {
    position: fixed;
    left: 150px;
    top: 0;
    right: 0;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e7e7e7;
    padding: 0 30px;
    z-index: 10;
}

.logo {
    display: flex;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
}

.main-content {
    margin-left: 150px;
    margin-top: 60px;
    padding: 40px 20px;
    min-height: calc(100vh - 60px);
}

