body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #f7f9fb;
    padding-left: 200px;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 150px;
    height: 100vh;
    background-color: #29acc8;
    color: #fff;
    padding-top: 60px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px 20px;
    cursor: pointer;
}

.sidebar ul li:hover {
    background: #238ca3;
}

.header {
    position: fixed;
    left: 150px;
    top: 0;
    right: 0;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e7e7e7;
    padding: 0 30px;
    z-index: 10;
}

.logo {
    display: flex;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
}
.separator {
  border-bottom: 2px solid #ccc;
  margin: 20px 0;
  width: 100%;
}
.logoEdu {
    text-align: center;
    margin: 20px 0;
}
.logoEdu img {
    height: 50px;
    width: auto;
    display: inline-block;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 150px;
  background-color: #29acc8; /* couleur typique de la sidebar */
  display: flex;
  align-items: center;
  padding-left: 0px;
  box-sizing: border-box;
  z-index: 10;
}

.header img {
  height: 60px;
  width: auto;
}

