.titre h1 {
  padding-left: 20px;
}

.encadre1 {
  display: flex;
  padding-top: 20px;
}

.encadre2 {
  border: 2px solid black;
  width: 400px;
  margin-left: 30px;
  padding: 10px 10px 30px 10px;
}

.encadre2 h3 {
  margin-bottom: 10px;
}

.encadre3 {
  border: 2px solid black;
  padding: 10px;
  width: 300px;
  margin-left: 20px;
}

.trait {
  height: 5px;
  background-color: #33a8c7;
  border: none;
  width: 90%;
  margin: 30px 0 20px 30px;
}

.motif {
  border: 2px solid black;
  width: 1000px;
  margin-left: 30px;
  padding: 10px 10px 30px 10px;
}

.boutons {
  margin: 20px 0 50px 30px;
}

.boutons button {
  padding: 8px 15px;
  cursor: pointer;
  border: 2px solid #33a8c7;
  background-color: white;
}
